In [2]:
import pandas as pd

In [3]:
import os

In [4]:
os.chdir("C:\\Users\\m\\Desktop\\project")

In [5]:
os.listdir()

['regex_imdb-checkpoint.ipynb',
 'regex_imdb.csv',
 'regex_imdb.ipynb',
 'web_scraped_imdb.csv',
 'web_scrapping-checkpoint.ipynb',
 'web_scrapping.ipynb']

In [6]:
df=pd.read_csv("web_scraped_imdb.csv")

In [7]:
df

,Name,Year,Genre,Run_time,Rating,Meta_score,Director_cast,Votes,Vote_gross
0,The Shawshank Redemption,(1994),\nDrama,142 min,9.3,80.0,\n Director:\nFrank Darabont\n| \n Stars...,"2,377,480","\nVotes:\n2,377,480\n| Gross:\n$28.34M\n"
1,The Godfather,(1972),"\nCrime, Drama",175 min,9.2,100.0,\n Director:\nFrancis Ford Coppola\n| \n ...,"1,646,818","\nVotes:\n1,646,818\n| Gross:\n$134.97M\n"
2,The Dark Knight,(2008),"\nAction, Crime, Drama",152 min,9.0,84.0,\n Director:\nChristopher Nolan\n| \n St...,"2,341,261","\nVotes:\n2,341,261\n| Gross:\n$534.86M\n"
3,The Godfather: Part II,(1974),"\nCrime, Drama",202 min,9.0,90.0,\n Director:\nFrancis Ford Coppola\n| \n ...,"1,146,666","\nVotes:\n1,146,666\n| Gross:\n$57.30M\n"
4,12 Angry Men,(1957),"\nCrime, Drama",96 min,9.0,96.0,\n Director:\nSidney Lumet\n| \n Stars:\...,"701,882","\nVotes:\n701,882\n| Gross:\n$4.36M\n"
...,...,...,...,...,...,...,...,...,...
995,Breakfast at Tiffany's,(1961),"\nComedy, Drama, Romance",115 min,7.6,76.0,\n Director:\nBlake Edwards\n| \n Stars:...,"168,713","\nVotes:\n168,713\n"
996,Giant,(1956),"\nDrama, Western",201 min,7.6,84.0,\n Director:\nGeorge Stevens\n| \n Stars...,"34,594","\nVotes:\n34,594\n"
997,From Here to Eternity,(1953),"\nDrama, Romance, War",118 min,7.6,85.0,\n Director:\nFred Zinnemann\n| \n Stars...,"43,868","\nVotes:\n43,868\n| Gross:\n$30.50M\n"
998,Lifeboat,(1944),"\nDrama, War",97 min,7.6,78.0,\n Director:\nAlfred Hitchcock\n| \n Sta...,"26,791","\nVotes:\n26,791\n"
999,The 39 Steps,(1935),"\nCrime, Mystery, Thriller",86 min,7.6,93.0,\n Director:\nAlfred Hitchcock\n| \n Sta...,"52,688","\nVotes:\n52,688\n"

In [74]:
df["Year"]=df["Year"].str.replace("\D","")

<ipython-input-74-213e91666388>:1: FutureWarning: The default value of regex will change from True to False in a future version.
  df["Year"]=df["Year"].str.replace("\D","")

In [75]:
df["Genre"]=df["Genre"].str.replace("\n","")

In [76]:
df["Director_cast"]=df["Director_cast"].str.replace("\n","")

In [77]:
df["Votes"]=df["Votes"].str.replace(",","")

In [78]:
df["Vote_gross"]=df["Vote_gross"].str.replace("\n","")

In [79]:
df["Vote_gross"]=df["Vote_gross"].str.replace(",","")

# web scraping

## 01.Director_cast column:

###  i) scrape director in director_cast column

In [8]:
import re

In [82]:
regex = r'[\sA-Za-z]+\|'

In [83]:
df["Director"]=df['Director_cast'].apply(lambda x:"".join(re.compile(regex).findall(x)))

In [84]:
df["Director"]=df["Director"].str.replace("|","")

<ipython-input-84-587d1ca2b397>:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will*not* be treated as literal strings when regex=True.
  df["Director"]=df["Director"].str.replace("|","")

###  ii) scrape cast in director_cast column

In [85]:
casts=[]
for i in range(len(df)):
    casts.append(re.sub(r'[A-Za-z]+\:.*\|',"",df["Director_cast"][i]).strip().replace("Stars:",""))

In [86]:
df["cast"]=casts

#### now we get the both the director and cast values we will delete the director_cast Column:

In [87]:
del(df["Director_cast"])

## 02.vote_gross

###  i) scrape gross value from vote_gross column

In [9]:
regexs=r"[$]+[0-9.+]+M"

In [10]:
df["Gross"]=df["Vote_gross"].apply(lambda x:"".join(re.compile(regexs).findall(x)))

In [11]:
df["Gross"]=df["Gross"].str.replace("$","")

<ipython-input-11-2cc4e8a5b5ed>:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will*not* be treated as literal strings when regex=True.
  df["Gross"]=df["Gross"].str.replace("$","")

In [12]:
df["Gross"]=df["Gross"].str.replace("M","")

#### now we got the both the gross and vote  values its better to delete the column:

In [92]:
del(df["Vote_gross"])

##  03. Run_time

### remove the Min in runtime

In [97]:
df["Run_time"]=df["Run_time"].str.replace("min","")

In [13]:
df.head(2)

,Name,Year,Genre,Run_time,Rating,Meta_score,Director_cast,Votes,Vote_gross,Gross
0,The Shawshank Redemption,(1994),\nDrama,142 min,9.3,80.0,\n Director:\nFrank Darabont\n| \n Stars...,"2,377,480","\nVotes:\n2,377,480\n| Gross:\n$28.34M\n",28.34
1,The Godfather,(1972),"\nCrime, Drama",175 min,9.2,100.0,\n Director:\nFrancis Ford Coppola\n| \n ...,"1,646,818","\nVotes:\n1,646,818\n| Gross:\n$134.97M\n",134.97

#### save our regex of imdb data set csv file

In [99]:
df.to_csv("C:\\Users\\m\\Desktop\\project\\regex_imdb.csv",index=False)

In [100]:
df

,Name,Year,Genre,Run_time,Rating,Meta_score,Votes,Director,cast,Gross
0,The Shawshank Redemption,1994,Drama,142,9.3,80.0,2377480,Frank Darabont,"Tim Robbins, Morgan Freeman, Bob Gunton, Willi...",28.34
1,The Godfather,1972,"Crime, Drama",175,9.2,100.0,1646818,Francis Ford Coppola,"Marlon Brando, Al Pacino, James Caan, Diane Ke...",134.97
2,The Dark Knight,2008,"Action, Crime, Drama",152,9.0,84.0,2341261,Christopher Nolan,"Christian Bale, Heath Ledger, Aaron Eckhart, M...",534.86
3,The Godfather: Part II,1974,"Crime, Drama",202,9.0,90.0,1146666,Francis Ford Coppola,"Al Pacino, Robert De Niro, Robert Duvall, Dian...",57.30
4,12 Angry Men,1957,"Crime, Drama",96,9.0,96.0,701882,Sidney Lumet,"Henry Fonda, Lee J. Cobb, Martin Balsam, John ...",4.36
...,...,...,...,...,...,...,...,...,...,...
995,Breakfast at Tiffany's,1961,"Comedy, Drama, Romance",115,7.6,76.0,168713,Blake Edwards,"Audrey Hepburn, George Peppard, Patricia Neal,...",
996,Giant,1956,"Drama, Western",201,7.6,84.0,34594,George Stevens,"Elizabeth Taylor, Rock Hudson, James Dean, Car...",
997,From Here to Eternity,1953,"Drama, Romance, War",118,7.6,85.0,43868,Fred Zinnemann,"Burt Lancaster, Montgomery Clift, Deborah Kerr...",30.50
998,Lifeboat,1944,"Drama, War",97,7.6,78.0,26791,Alfred Hitchcock,"Tallulah Bankhead, John Hodiak, Walter Slezak,...",
999,The 39 Steps,1935,"Crime, Mystery, Thriller",86,7.6,93.0,52688,Alfred Hitchcock,"Robert Donat, Madeleine Carroll, Lucie Mannhei...",